<button class="button-chat" page="{{page}}">
	{{#if left}}
	  <img src="/src/assets/arrow.svg" class="button-chat__img button-chat__img--reverse">{{text}}
	  {{else}}
	  {{text}}<img src="/src/assets/arrow.svg" class="button-chat__img">
	{{/if}}
</button>