<button class="button-chat" page="{{page}}">
  {{#if left}}
    <span class="button-chat__img button-chat__img--reverse"></span>{{text}}
  {{else}}
    {{text}}<span class="button-chat__img"></span>
  {{/if}}
</button>
