<main>
	<nav>
		<ul>
			<li><a href="#" page="login">Страница логина</a></li>
			<li><a href="#" page="register">Страница регистрации</a></li>
			<li><a href="#" page="errorPage404">Страница ошибки 404</a></li>
			<li><a href="#" page="errorPage500">Страница 500</a></li>
			<li><a href="#" page="messaging">Страница чата</a></li>
			<li><a href="#" page="profile">Страница профиля</a></li>
			<li><a href="#" page="profileEdit">Страница редактирования профиля</a></li>
			<li><a href="#" page="profilePasswordEdit">Страница редактирования пароля</a></li>
		</ul>
		</ul>
	</nav>
</main>
