<main>
	{{#> ContainerForm}}
		{{#> Form}}
			{{> Title text="Регистрация"}}
			{{> InputForm label="Почта" name="email"}}
			{{> InputForm label="Логин" name="login"}}
			{{> InputForm label="Имя" name="first_name"}}
			{{> InputForm label="Фамилия" name="second_name"}}
			{{> InputForm label="Телефон" name="phone"}}
			{{> InputForm label="Пароль" name="password"}}
			{{> InputForm label="Пароль (ещё раз)" name="passwordRepeat"}}
			{{> Button text="Зарегистрироваться" primary="true" class="container-form__button"}}
			{{> Button text="Войти" page='login'}}
		{{/Form}}
	{{/ContainerForm}}
</main>