<div class="input-form">
	<label for="" class="input-form__label">{{label}}</label>
	<input type="text" class="input-form__input" name="{{name}}">
	<span class="input-form__error">{{errorMessage}}</span>
</div>