<div class="write-message">
  <button class="write-message__pinned-files"></button>
  <input
    type="text"
    placeholder="Сообщение"
    class="write-message__input"
    name="message"
	id="{{id}}"
  />
  <button class="write-message__send"></button>
</div>
