<main>
	{{#> ContainerForm}}
		{{#> Form}}
			{{> Title text="Вход"}}
			{{> InputForm label="Логин" name="login" errorMessage="Текст ошибки" id="login"}}
			{{> InputForm label="Пароль" name="password" type="password" id="password"}}
			{{> Button text="Авторизоваться" primary="true" class="container-form__button" page="messaging"}}
			{{> Button text="Нет аккаунта?" page='register'}}
		{{/Form}}
	{{/ContainerForm}}
</main>
