<div class="header-chat">
	<img src="/src/assets/defaultAvatar.png" alt="" width="47" height="47" class="header-chat__avatar">
	<p class="header-chat__sender">Чувачелло</p>
	<span class="header-chat__menu"></span>
</div>